@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background: #fafaf2;
}

.container {
  width: 110rem;
  margin: 0 auto;
  font-family: 'Roboto Flex', sans-serif;
  .link {
    text-decoration: none;
    color: #0f5c63;
    &:hover{
      color: #2c848b;
    }
  }
}

.header {
  height: 290px;
  background: #248f74;
  .wrapper {
    display: flex;
    align-items: center;
  }
  .avatar {
    width: 270px;
    border-radius: 50%;
    margin: 1rem;
  }
  .titles {
    margin-left: 30rem;
    color: #e7e7df;
    .title {
      font-size: 4rem;
    }
    .subtitle {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.main {
  background: #f0ebdd;
  height: 100%;
  padding-left: 2rem;
  color: #22352c;
  .section {
    font-size: 1.9rem;
    padding: 1rem 0.3rem;
    .section-title {
      margin-bottom: 0.8rem;
    }
  }
  .list {
    list-style: none;
  }
}

.footer {
  font-size: 2.5rem;
  font-weight: 900;
  background: #248f74;
  .sign {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
  }
  .sign-rs-logo {
    width: 8rem;
    filter: invert(90%) sepia(0%) saturate(395%) hue-rotate(136deg) brightness(95%) contrast(106%);
  }
  .logo-link {
  }
  .sign-git {
    color: #e7e7df;
  }
  .sign-rs-logo {
    padding-top: 0.1rem;
  }
}

.bold {
  font-weight: bold;
}
